.header {
    background:teal;
    padding: 20px calc(50% - 100px) 10px;
    height: 60px;
}

.header__title {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-size: 45px;

}
